<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fitsmind To-Do.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>722455171FC5C87A002D6276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722455271FC603F5002D6276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72F28F3B1FC43B4F00FAA4BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72F28F4F1FC43B4F00FAA4BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72F28F5A1FC43B4F00FAA4BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
